* {
    font-size: 40px
}

a[href^="http"] {
    background-color: red;
}

a[href$=".pdf"] {
    background-color: purple;
    color: white;
}

a[href*="ntu"] {
    background-color: blue;
    color: yellow;
}

